* {
    margin: 0;
    padding: 0;
}


/* ************************************ */
/***************general*****************  */
.link {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: black;
}
.link--body {
    font-weight: 700;
    line-height: 24px;
    color: #1c2b33;
}
.section {
    max-width: 1156px;
    margin-left: auto;
    margin-right: auto;
}
.main-header {
    font-size: 48px;
    font-weight: 400;
    color: #1c2b33;
    line-height: 58px;
    width: fit-content;
    font-family: 'DM Sans', sans-serif;
}
.sub-header {
    font-size: 36px;
    line-height: 43px;
    color:#1c2b33;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
}
.sub-header--small {
    font-size: 24px;
}
.object-container {
    width: 100%;

}
.text {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color:#1c2b33;
}
.text--big {
    font-size: 18px;
}


.card__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 3px;
    gap: 16px;
}
.card__item {
    display: flex;
    padding: 8px 32px 8px 8px;
    gap: 32px;
    height: 152px;
    background-color: white;
}
.card__image {
    width: 168px;
    height: 100%;
    border-radius: 3px;
}
.card__image img {
    width: 168px;
    height: 100%;
}
.card__item-text {
    flex: 1;
    align-self: center;
}
@media (min-width: 1024px) {
    .card__list {
        flex-direction: row;
    }    
    .card__item {
        flex: 1;
    }
}










/* ************************************ */
/***************HEADER*****************  */

.hamburger, .hamburger::before, .hamburger::after {
    width: 20px;
    border-bottom: 3px solid #1c2b33;
    position: relative;
}
.hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    display: block;

}
.hamburger::after {
    top: 6px;
}
.hamburger::before {
    top: -6px;
}

.logo {
    width: 90px;
}
.logo__image {
    width: 100%;
}
.header__logo {
    margin-right: 80px;
}
.header {
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    justify-content: space-between;
}
.header__list {
    display: none;
    list-style: none;
    gap: 24px;
    margin-right: auto;
}
.header__link--hidden {
    display: none;
}
.header__icon {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-right: solid;
    border-bottom: solid;
    transform: rotate(45deg);
    position: relative;
    top: -3px;
    margin-left: 6px;
}

.header__shop {
    display: flex;
    align-items: center;
}
.bag-icon {
    padding-left: 16px;
    margin-left: 16px;
}
@media (min-width: 1024px) {
    .header__list {
        display: flex;
    }
    .header__link--hidden {
        display: block;
    }
    .hamburger {
        display: none;
    }
    .bag-icon {
        border-left: 1px solid #dee3e9;
    }
}

/* ************************************ */
/***************banner*****************  */
.banner {
    padding: 0 40px;
    margin-top: 96px;
    margin-bottom: 96px;
}

.banner__header {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    max-width: 640px;
    text-align: center;
}
.banner__link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 56px;
}
.banner__image {
    width: 100%;
}
.about {
    padding: 0 40px;
}
.about__logo {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}
.about__sub-header {
    margin-right: auto;
    margin-left: auto;
    max-width: 620px;
    text-align: center;
} 

/* ************************************ */
/***************experience*****************  */
.experience {
    margin-top: 80px;
    background-color: #F1F4F7;
    padding: 0 40px;
    padding-top: 64px;
    padding-bottom: 48px;
}
.experience__video {
    width: 100%;
    margin-bottom: 24px;
}
.experience__sub-header {
    padding-bottom: 16px;
}
.experience__text {
    color: #465a69;
    padding-bottom: 24px;
}
.experience__text, .experience__sub-header, .experience__link, .privacy__sub-header, .privacy__link {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
}
.experience__link, .privacy__link {
    display: block;
    margin-bottom: 32px;
}
.experience__small-title {
    margin-bottom: 24px;
}
.experience__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 3px;
    gap: 16px;
}
.experience__item {
    display: flex;
    padding: 8px 32px 8px 8px;
    gap: 32px;
    height: 152px;
    background-color: white;
}
.experience__image {
    width: 168px;
    height: 100%;
    border-radius: 3px;
}
.experience__image img {
    width: 168px;
    height: 100%;
}
.experience__item-text {
    flex: 1;
    align-self: center;
}
@media (min-width: 1024px) {
    .experience__list {
        flex-direction: row;
    }    
    .experience__item {
        flex: 1;
    }
}

/* ************************************ */
/***************privacy*****************  */
.privacy {
    margin-top: 64px;
    padding: 0 40px;
    margin-bottom: 120px;
}
.privacy__sub-header {
    margin-bottom: 16px;
}
.privacy__link {
    margin-bottom: 32px;
}
.privacy__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.privacy__details, .privacy__image {
    flex: 1;
}
.privacy__image img {
    width: 100%;
}
.privacy__image {
    order: 1;
}
.privacy__details {
    order: 2;
    background-color: #1C2B33;
    padding: 24px 24px 48px;
}
.privacy__details-header, .privacy__text, .privacy__details-link {
    color: white;
}
.privacy__details-header {
    margin-bottom: 16px;
}
.privacy__text {
    margin-bottom: 24px;
}
.privacy__details-link {
    font-weight: 200;
}
.privacy__small-header {
    margin-bottom: 24px;
}
.privacy__item {
    background-color: #F1F4F7;
}
@media (min-width: 1024px) {
    .privacy__info {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
    .privacy__details, .privacy__image {
        order: initial;
    }
}

/* ************************************ */
/***************news*****************  */
.news {
    padding: 0 40px;
    margin-bottom: 184px;
}

.news__list {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: 24px;
    overflow: auto;
}
.news__item {
    flex: 1;
    min-width: 300px;
}


.news__image {
    margin-bottom: 24px;
}
.news__image img {
    width: 100%;
}
.news__item-title {
    font-size: 18px;
    line-height: 22px;
    color:#1c2b33;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}
.news__item-text {
    margin-bottom: 24px;
}

/* ************************************ */
/***************footer*****************  */

.footer {
    padding: 0 40px;
}
.footer__items {
    display: flex;
    flex-direction: column;
}